@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --ant-layout-header-height: 48px!important;
}

/* 亮色模式的基本颜色 */
:root body {
  @apply bg-gray-50 text-gray-900;
}

/* 确保暗黑模式下的基本颜色 */
:root.dark body {
  @apply bg-gray-900 text-gray-100;
}

.app {
  --ant-layout-header-height: 48px!important; /* 添加这一行 */
}